# this is an example of the USAR API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: USAR API
  description: Move your app forward with the USAR API
  version: "1.0.0"
# the domain of the service
host: api.usar-cmusv.edu
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:

  /reachOutRequests:
    get:
      summary: Get Reach Out Requests
      description: |
        This GET request returns all the Reach Out requests made by the rescuers. The output is primarily used to render these requests on the Alerts page.
      tags:
        - ReachOut
      responses:
        200:
          description: An array of ReachOutRequests
          schema:
            type: array
            items:
              $ref: '#/definitions/ReachOutRequest'
        default:
          description: 'US&R Interval Server Error'
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Add New Reach Out Request
      description: |
        This POST request adds a new Reach Out request to the server. These requests can later be used to display the alerts page, and notify other rescuers.
      tags:
        - ReachOut
      consumes:
        - application/json
      produces:
        - text/html
      parameters:
        - name: reporter
          in: body
          required: true
          schema:
            $ref: '#/definitions/ReachOutRequest'
      responses:
        200:
          description: Success
        500:
          description: Error (Missing Input Fields)
  /rescuers:
    get:
      summary: Rescuer Types
      description: |
        The Rescuer endpoint returns information about the *USAR* rescuers
        nearby a given location. The response includes the display name
        and other details about each rescuer, and lists the rescuers in the
        proper display order.
      parameters:
        - name: latitude
          in: query
          description: Latitude component of location.
          required: true
          type: number
          format: double
        - name: longitude
          in: query
          description: Longitude component of location.
          required: true
          type: number
          format: double
      tags:
        - Rescuers
      responses:
        200:
          description: An array of rescuers
          schema:
            type: array
            items:
              $ref: '#/definitions/Rescuer'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rescuers/{rescuer_id}:
    get:
      summary: Rescuer Types
      description: |
        The Rescuer endpoint returns information about the *USAR* rescuers
        by Rescuer ID. The response includes the display name
        and other details about each rescuer, and lists the rescuers in the
        proper display order.
      parameters:
        - name: rescuer_id
          in: path
          description: Unique identifier of rescuer
          required: true
          type: string
      tags:
        - Rescuers
      responses:
        200:
          description: Rescuer information
          schema:
            $ref: '#/definitions/Rescuer'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rescuers/{rescuer_id}/history:
    get:
      summary: Rescuer Types
      description: |
        The History endpoint returns health monitor hisotry about
        the *USAR* rescuers by Rescuer ID. The response includes
        a list of health history records.
      parameters:
        - name: rescuer_id
          in: path
          description: Unique identifier of rescuer
          required: true
          type: string
      tags:
        - Rescuers
      responses:
        200:
          description: An array of history records
          schema:
            type: array
            items:
              $ref: '#/definitions/History'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /rescuers/{rescuer_id}/pulse:
    get:
      summary: Rescuer Types
      description: |
        The Pulse endpoint returns pulse hisotry about
        the *USAR* rescuers by Rescuer ID. The response includes
        a list of pulse records.
      parameters:
        - name: rescuer_id
          in: path
          description: Unique identifier of rescuer
          required: true
          type: string
      tags:
        - Rescuers
      responses:
        200:
          description: An array of pulse records
          schema:
            type: array
            items:
              $ref: '#/definitions/Pulse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:

  ReachOutRequest:
    type: object
    properties:
      reporter:
        type: string
        description: Name of the rescuer who submitted the request.
      nMembers:
        type: number
        description: Number of rescuers requested for reach out.
      timeWindow:
        type: number
        description: The time (in minutes) expected for the rescuers to put in, for this request.
      notes:
        type: string
        description: Detailed description of the request scenario.
      location:
        type: string
        format: json
        description: JSON string of Latitude and Longitude
        
  Rescuer:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier representing a specific rescuer.
      description:
        type: string
        description: Description of rescuer.
      display_name:
        type: string
        description: Display name of rescuer.
      latitude:
        type: number
        format: double
        description: Latitude of current location of rescuer.
      longitude:
        type: number
        format: double
        description: Longitude of current location of rescuer.
      phone:
        type: string
        description: Phone number of rescuer
  History:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier representing a specific history.
      description:
        type: string
        description: Description of history record.
      severity_level:
        type: string
        description: Severity level of history record.
        enum: ['normal', 'warning', 'danger']
      timestamp:
        type: string
        format: date-time
        description: Timestamp of history record.
  Pulse:
    type: object
    properties:
      bpm:
        type: number
        format: double
        description: Beat-per-minute within an interval.
      timestamp:
        type: string
        format: date-time
        description: Timestamp of recorded pulse.
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string